/*

# 포함할 파일
!/.gitignore
!/README.md


!/scratch/
!/src/
/src/*
!/src/applications
/src/applications/*
!/src/applications/wscript
!/src/applications/model
!/src/applications/helper
/src/applications/model/*
/src/applications/helper/*
!/src/applications/model/new-app*
!/src/applications/helper/new-app*
